<!-- popup -->
<div class="modal fade" id="popup" role="dialog">
        <div class="modal-dialog modal-lg">
              <!-- modal content -->
              <div class="modal-content ukuran-popup">
                  <div class=" bg-popup">
                      <button type="button" class="close" style="" data-dismiss="modal" arial-label="close">
                              <span aria-hidden="true">x</span>
                      </button>
                  </div>

                  <div class="modal-body bg-popup-2">
                          <a href="https://api.whatsapp.com/send?phone=6281281999388" class="btn button-popup">Learn More</a>
                  </div>
                     
                     
              </div>
        </div>
    </div>
<!-- end popup -->

<script src="app/jscustom/popup.js"></script>