


<section class="hcs-detail-5" id="layanan-hcs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hcs-detail-5-header-center">Tentang Hasil Test</h1>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1 class="hcs-detail-5-header-left">Hasil Positif</h1>
                    <p class="hcs-detail-5-caption-left">
                         Hasil  pemeriksaan  positif   menandakan  adanya   varian  gen
                        tertentu yang  berkaitan  dengan  kanker  bawaan, namun tidak 
                        berarti bahwa  Anda menderita kanker atau ada perkembangan
                        sel  kanker  di  dalam  dirinya. Hasil pemeriksaan positif   berarti
                        risiko   anda   mengidap   kanker   lebih    besar dibandingkan 
                        rata-rata orang lain.
                    </p>
                    <p class="hcs-detail-5-caption-left-2">
                        Konsultasikan hasil  tes anda kepada dokter  yang  berkait  untuk  membahas  tindakan-tindakan lebih lanjut seperti:
                    </p>
                    <h1 class="hcs-detail-5-caption-header-left-3"> - Perubahan gaya hidup</h1>   
                    <p class="hcs-detail-5-caption-header-caption-left-3">
                        Faktor keturunan bukanlah satu-satunya penyebab kanker.   
                        Banyak     faktor-faktor     lain     yang  dapat mempengaruhi  
                        berkembangnya  sel  kanker seperti gaya hidup, lingkungan, pola makan,
                        usia dan interaksi dengan bahan-bahan berbahaya. Dengan merubah gaya hidup
                        menjadi lebih sehat, Anda dapat menurunkan risiko Anda menderita kanker.
                    </p>  
                    <h1 class="hcs-detail-5-caption-header-left-3">- Pemeriksaan lebih rutin</h1>  
                    <p class="hcs-detail-5-caption-header-caption-left-3">
                        Apabila hasil pemeriksaan menunjukkan Anda memiliki risiko tinggi untuk kondisi 
                        tertentu, Anda dianjurkan untuk melakukan pemeriksaan screening lebih rutin untuk
                        mendeteksi dini terjadinya kanker. Contoh pemeriksaan yang dapat dilakukan adalah
                        colonoscopy untuk kanker usus besar mammography untuk kanker payudara
                        pemeriksaan CA-125 dalam darah untuk kanker ovarium.
                    </p>   
                    
                  
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1 class="hcs-detail-5-header-right">Hasil Negatif</h1>
                    <p class="hcs-detail-5-caption-right">
                       Hasil pemeriksaan negatif berarti laboratorium tidak menemukan adanya varian
                       membahayakan pada gen yang diujikan. Namun, hasil uji negatif tidak menjadmin 
                       jika kanker tidak akan berkembang dalam diri Anda.  
                    </p>
                    <p class="hcs-detail-5-caption-right">
                         Banyak faktor lain yang memegang peranan dalam berkembangnya penyakit 
                         termasuk gaya hidup dan lingkungan.
                    </p>
                </div>
            </div>
        </div>
    </section>