
<head>
    <title >Layanan HCS | Cancervue</title>
    <meta name="theme-color" content="#4b8c21">
</head>



<!-- barisan copy -->

<section class="bg-img hcs detail-copy">
        <div class="container word-header-hcs">
          <div class="row">
              <div class="col-md-6 col-sm-12">

              </div>
            <div class="col-md-6 col-sm-12 hcs-logo ">
                <img class="img-responsive" ng-src="assets/images/hcs/{{logoHcs}}"/>
                <p>Deteksi risiko kanker sejak dini melalui pemeriksaan genetik</p>
            </div>
          </div>
        </div>
</section>

<!-- barisan copy -->

<!-- Barisan 1 -->
<section class="hcs-detail">
    <div class="container detail-posisi">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h1 class="header-detail">HEREDITARY CANCER SCREENING</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="caption-detail">
                    Melalui Hereditary Cancer Screening, sebanyak  32 
                    gen  yang   diasosiasikan   dengan   8  jenis  kanker 
                    akan   dianalisa    menggunakan    teknologi     Next 
                    Generation    Sequencing    (NGS)     dari    Illumina. 
                   
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Barisan 1 -->

<!-- Barisan 2 -->
<section class="hcs-detail-2">
    <div class="container posisi">
        <div class="row">
            <div class="col-md-6 col-sm-6">
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12 list-unstyled row" id="lightgallery" >
                    <a class="kanker" href="assets/images/hcs-detail/tabel-cancer.jpg">
                            <img class="kanker-1" ng-src="assets/images/hcs-detail/{{tabelKanker}}"/>
                            <img class="kanker-2" ng-src="assets/images/hcs-detail/{{tabelKankerDetail}}"  />
                    </a>
                   
            </div>
        </div>
    </div>
</section>
<!-- Barisan 2 -->


<!-- Barisan 3 -->
<section class="hcs-detail-3">
    <div class="container hcs-detail-3-position">
        <div class="row">
            <div class="col-md-6 col-sm-6">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1 class="hcs-header-detail-3">Hereditary Cancer Screening by Genetics Indonesia</h1>
                    <ul class="hcs-caption-detail-3">
                        <li>Dengan teknologi terkini Next Generation</li>
                        <li>Akurasi hingga 99%</li>
                        <li>Layanan home service</li>
                        <li>Genetic Counseor untuk mengkonsultasikan hasil anda</li>
                    </ul>
            </div>
        </div>
    </div>
</section>
<!-- Barisan 3 -->

<!-- Barisan 4 -->
<section class="hcs-detail-4">
    <div class="container hcs-detail-4-position">
        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-12">
                <h1 class="hcs-detail-4-header">Bagaimana cara pengambilan sampelnya?</h1>
                <p class="hcs-detail-4-caption">Pemeriksaan dapat dilakukan dengan mudah dan cepat, yaitu dengan menggunakan sample DNA yang diperoleh dari olesan bagian dalam pipi.</p>
            </div>
        </div>
    </div>
</section>
<!-- Barisan 4 -->

<!-- Barisan 5 -->

<section>
        <hr class="onepixel-hcs-detail">
</section>

<div ng-include='"views/page-hasil.html"'></div>

<!-- Barisan 5 -->




<!-- Barisan 6 -->


<section>
        <div class="col-md-6">
            <div class="bg-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.202932826536!2d106.8231404!3d-6.2240204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b36fd8bd2a9e428!2sPT.+Global+Genetika+Indonesia+(Genetics+Indonesia)!5e0!3m2!1sid!2sid!4v1544605888681" 
                 frameborder="0" style="border:0" class="bg-map-atur" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-alamat">
                <a><img ng-src="assets/images/{{cancervueBottom}}" class="alamat-image"></a>
                <h1 class="alamat-heading">PT Global Genetika Indonesia</h1>
                <p class="alamat-text">DBS Bank Tower Lt 11 <br>
                    Jl Prof Dr Satrio Kav 3-5 <br>
                    Jakarta Selatan 12940 <br>
                    (021) 2988 8650 <br>
                    WA 0812 8199 9388<br>
                    Email <a href="" style="color: white">info@cancervue.co.id</a>
                  </p>
                    <p>
                      <a class="pic" href="{{fb}}">
                          <img class="image-1 fb" ng-src="assets/images/{{fbWhite}}"/>
                          <img class="image-2 fb" ng-src="assets/images/{{fbColor}}"  />
                      </a>
                      <a class="pic" href="{{ig}}">
                          <img class="image-1 ig" ng-src="assets/images/{{igWhite}}"/>
                          <img class="image-2 ig" ng-src="assets/images/{{igColor}}"  />
                      </a>
                   </p>
            </div>
        </div>
   
</section>
<!-- Barisan 6 -->




<!-- Barisan 2 -->









        



