
<head>
  <title >Home | Cancervue</title>
  <meta name="theme-color" content="#ffd14e">
</head>
  

<!-- Header Gambar -->
<section class="bg-img">
  <div class="container word-header">
    <div class="row">
      <div class="col-md-7 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-11 col-xs-offset-0">
          <p>Memahami cara kerja genetik, untuk mendeteksi dini dan menentukan pengobatan yang tepat.</p>
      </div>
    </div>
  </div>
</section>

  

<!-- Header Image Bawah -->
  <section>
    <div class="header-bawah img-responsive">
    </div>

  </section>
<!-- Header Image Bawah -->

<!-- Judul Produk -->
<section>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="welcome">Cancervue by Genetics Indonesia memungkinkan Anda memahami profil genetik Anda 
              untuk mendeteksi risiko kanker dan menemukan pengobatan yang tepat, menggunakan teknologi 
              terkini.
          </h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <hr class="onepixel">
          <h1 class="judul">    
              Cancervue by Genetics Indonesia
          </h1>
          <hr class="onepixel">
        </div>
      </div>
  </div>
</section>
<!-- Judul Produk -->

<!-- Produk -->
<section class="the-grid" >
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 ">
            <div class="thumbnail">
              <a  ui-sref="layanan-hcs" onclick="topFunction()">
               
                <img class="image2 image " ng-src="assets/images/{{hcs}}" id="kecilin" />
              </a>
              <div class="caption">
                <p class="caption-judul">Beberapa tipe kanker dapat diturunkan dari orang tua Anda. Melalui pemeriksaan
                   Hereditary Cancer Screening, Anda dapat mengetahui risiko Anda terkena kanker sedini
                   mungkin sehingga Anda dapat mengambil keputusan yang sesuai guna mencegah atau memulai 
                   terapi sedini mungkin.</p>
              </div>
              <div>
                  <a  class="btn btn-lg layanan" ui-sref="layanan-hcs" onclick="topFunction()">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
              <div class="thumbnail">
                <a  ui-sref="layanan-brca" onclick="topFunction()">
                 
                  <img class="image2 image" ng-src="assets/images/{{brca}}" id="brca-image" />
                </a>
                <div class="caption">
                  <p class="caption-judul">Ketahui risiko Anda menderita kanker payudara dan ovarium 
                    melalui pemeriksaan gen BRCA1 dan BRCA2, dan lakukan tindakan pencegahan dan 
                    pemeriksaan yang dibutuhkan untuk mendeteksi kanker sejak dini guna meningkatkan 
                    harapan hidup.</p>
                </div>
                <div>
                    <a  class="btn btn-lg layanan" ui-sref="layanan-brca" onclick="topFunction()">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
                <div class="thumbnail">
                  <a  ui-sref="layanan-sma" onclick="topFunction()">
                   
                    <img class="image2 image kecilin" ng-src="assets/images/{{sma}}" id="kecilin" />
                  </a>
                  <div class="caption">
                    <p class="caption-judul">Analisis profil genetik sel tumor yang ada untuk menentukan 
                      jenis pengobatan yang tepat. Somatic Mutation Analysis dapat mendeteksi mutasi pada
                       lebih dari 50 gen secara bersamaan, memberikan rekomendasi obat yang tepat 
                       bedasarkan profil genetik tumor, dan mengevaluasi respon terhadap pengobatan 
                       tertentu.</p>
                  </div>
                  <div>
                      <a  class="btn btn-lg layanan" ui-sref="layanan-sma" onclick="topFunction()">Read More</a>
                  </div>
                </div>
              </div>
        </div>
  </div>
</section>
<!-- Produk -->

<!-- Judul BLOG -->
<section class="blog">
        <h1 class="judul-blog" >BLOG</h1>
</section>
<!-- Judul BLOG -->
<br><br>
<!-- Isi BLOG -->
<section>
  <div class="container">
    <div class="row" id="bawahan-blog">
          <div class="col-md-6">
              <img class="img-responsive" ng-src="assets/images/{{blog}}"/>
          </div>
          <div class="col-md-6">
             <a ui-sref="blog" class="blog-caption" onclick="topFunction()"> Keterkaitan Kanker dan Genetik</a>
              <p class="blog-text-caption">Kanker adalah penyakit genetik. Kalimat ini mungkin seringkali
                 akrab di telinga anda, atau bahkan utarakan saat membahas mengenai masalah kanker. 
                 Namun tak banyak orang benar-benar mengerti makna dari kalimat tersebut.  
                 <br>
                 <b>Apa itu Gen?</b>
                 <br>
                 Sebelum membahas keterkaitan antara genetik dan kanker, ada baiknya <a ui-sref="blog" onclick="topFunction()">read more....</a>
              </p>
          </div>
    
    </div>
    
    <!-- <div class="row">
        <div class="col-md-4">
            <a href="#" class="blog-caption-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            <p class="blog-text-caption-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt mollit anim <a href="#">read more....</a></p>
        </div>
        <div class="col-md-4">
            <a href="#" class="blog-caption-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            <p class="blog-text-caption-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt mollit anim <a href="#">read more....</a></p>
        </div>
        <div class="col-md-4">
            <a href="#" class="blog-caption-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
            <p class="blog-text-caption-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt mollit anim <a href="#">read more....</a></p>
        </div> -->
      </div>
  
  </div>
  </div>
</section>
<br>
<section >
  <div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <div>
                <a  class="btn btn-lg see" ui-sref="blog" onclick="topFunction()">SEE MORE</a>
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Isi BLOG -->

<br>
<!-- Tentang Kami -->
<section class="tentang-bg">
  <div class="container"></div>
    <div class="tentang" >
      <div class="row">
        <div class="col-md-12">
          <h1 class="tentang-judul">Tentang Cancervue by Genetics Indonesia</h1>
          <p class="tentang-text">Cancervue membantu dokter dan staf medis menganalisis genetik Anda untuk membantu mencegah,
             mendeteksi dini dan menentukan pengobatan yang tepat bagi Anda melalui precision medicine.
              Sebagai perusahaan bioteknologi swasta pertama di Indonesia yang memiliki teknologi Next 
              Generation Sequencing, Genetics Indonesia juga membantu perkembangan era genetik di
               Indonesia dan membantu peneliti memahami profil genetik populasi Indonesia untuk memahami 
               kondisi kesehatan dan pengobatan yang tepat bagi populasi Indonesia. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tentang Kami -->



<br><br>
<!-- Footer -->
<section>
    
        <div class="col-md-6">
            <div class="bg-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.202932826536!2d106.8231404!3d-6.2240204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b36fd8bd2a9e428!2sPT.+Global+Genetika+Indonesia+(Genetics+Indonesia)!5e0!3m2!1sid!2sid!4v1544605888681" 
                 frameborder="0" style="border:0" class="bg-map-atur" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-alamat">
                <a><img ng-src="assets/images/{{cancervueBottom}}" class="alamat-image"></a>
                <h1 class="alamat-heading">PT Global Genetika Indonesia</h1>
                <p class="alamat-text">DBS Bank Tower Lt 11 <br>
                    Jl Prof Dr Satrio Kav 3-5 <br>
                    Jakarta Selatan 12940 <br>
                    (021) 2988 8650 <br>
                    WA 0812 8199 9388<br>
                    Email <a href="" style="color: white">info@cancervue.co.id</a>
                  </p>
                    <p>
                      <a class="pic" href="{{fb}}">
                          <img class="image-1 fb" ng-src="assets/images/{{fbWhite}}"/>
                          <img class="image-2 fb" ng-src="assets/images/{{fbColor}}"  />
                      </a>
                      <a class="pic" href="{{ig}}">
                          <img class="image-1 ig" ng-src="assets/images/{{igWhite}}"/>
                          <img class="image-2 ig" ng-src="assets/images/{{igColor}}"  />
                      </a>
                   </p>
            </div>
        </div>
   
</section>
<!-- Footer -->


<!-- Float WA -->

<!--  -->











