<!-- page-blog.html -->
<head>
    <meta name="theme-color" content="#ffd14e">
    <title>Blog | Cancervue</title>
 </head>

<section class="bg-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="header-awal-blog">Keterkaitan Kanker dan Genetik</h1>
                <p class="caption-awal-blog">Oleh: dr. Giovanni Gilberta</p>
                <p class="caption-blog">Kanker adalah penyakit genetik. Kalimat ini mungkin seringkali akrab di telinga anda, 
                    atau bahkan utarakan saat membahas mengenai masalah kanker. Namun tak banyak orang benar-benar
                     mengerti makna dari kalimat tersebut. 
                </p>
                <br>
                <p class="caption-blog">
                    <b class="caption-awal-blog">Apa itu Gen?</b> 
                    <br>
                    
                    Sebelum membahas keterkaitan antara genetik dan kanker, ada baiknya kita membahas terlebih 
                    dahulu mengenai gen. Gen adalah bagian kecil dari DNA yang terletak dalam genome dan berfungsi
                     untuk menghasilkan kode produksi protein. Gen berisi instruksi mengenai karakteristik 
                     individual, seperti warna mata dan rambut. Jadi dengan kata lain, gen merupakan suatu
                      penyimpan informasi untuk membangun protein spesifik yang dibutuhkan oleh suatu organisme.
                    <br>
                    Gen terdiri dari DNA dan bervariasi dalam ukuran. Seorang manusia diestimasikan memiliki
                     20.000-25.000 gen dalam tubuhnya. Setiap manusia memiliki 2 salinan dari setiap gen, 
                     masing-masing diturunkan dari ayah dan ibu. Gen yang ditemukan pada manusia sebagian 
                     besar sama satu sama lainnya. Namun kurang dari 1% gen bervariasi antar manusia.
                </p>
                <p class="caption-blog">
                    <b class="caption-awal-blog">Genetik dan Kanker</b> <br>
                    Adanya mutasi atau perubahan dari suatu gen dapat mempengaruhi fungsi DNA 
                    yang berimplikasi pada perubahan struktur, fungsi dan jumlah protein yang dihasilkan.
                     Hal ini dapat mengubah perilaku sel normal menjadi bereplikasi secara abnormal sehingga 
                     bersifat kanker. Mutasi dapat terjadi dari adanya kesalahan (errors) dari replikasi atau 
                     kerusakan DNA yang tidak diperbaiki dengan baik atau tidak diperbaiki oleh tubuh. Mutasi 
                     pada satu gen saja tidak akan menyebabkan kanker. 

                </p>
                
                <p class="caption-blog">
                        Kanker hanya terjadi apabila mutasi terjadi pada beberapa gen kunci. 
                        Terdapat 3 jenis gen kunci yang berperan penting dalam pembentukan sel kanker: 
                        <ol class="caption-blog" type="1">
                            <li>
                              	<b>Gen pencetus pertumbuhan (proto-oncogenes)</b> 
                                yang berfungsi untuk memerintahkan kapan sel harus tumbuh dan membelah
                            </li>
                            <li>
                                  <b>Gen penghambat pertumbuhan (tumor supressor genes)</b> yang berfungsi
                                 untuk mempertahankan sel untuk tidak membelah
                            </li>
                            <li>
                                <b>Gen perbaikan DNA (DNA repair genes)</b> yang berfungsi untuk memperbaiki kerusakan DNA.
                            </li>
                        </ol>
                        <span class="caption-blog">
                        Sebagian besar kanker biasanya memiliki 1.000-20.000 mutasi titik dan ratusan gangguan pada gen lainnya.
                         Proses ini memakan waktu bertahun-tahun sehingga kanker lebih sering ditemukan pada usia lanjut. 
                        </span>
                </p>

                <p class="caption-blog">
                    <b class="caption-awal-blog">Faktor pemicu kanker lain</b><br>
                    Biasanya tumor yang dicetuskan oleh paparan asap rokok atau sinar UV, seperti kanker
                     paru atau kulit, memiliki jumlah mutasi yang tinggi. Selain asap rokok dan sinar UV, 
                     kerusakan DNA dapat terjadi oleh berbagai faktor, antara lain :
                     <ol class="caption-blog" type="1">
                         <li>
                             Faktor eksternal (berasal dari luar tubuh/lingkungan)
                            <ol type="a">
                                <li>Sinar ultraviolet/UV</li>
                                <li>Radiasi</li>
                                <li>Rokok</li>
                                <li>Alkohol</li>
                                <li>Makanan (lemak yang tinggi, makanan asap, kalengan, obesitas)</li>
                            </ol>
                         </li>
                         <li>
                             Faktor internal (berasal dari dalam tubuh)
                             <ol type="a">
                                 <li>Radikal bebas yang diturunkan dari molekul oksigen/reactive oxygen species</li>
                                 <li>Kesalahan mitosis/pembelahan sel</li>
                                 <li>Enzim yang terlibat dalam perbaikan DNA</li>
                                 <li>Virus dan bakteri</li>
                            </ol>    
                        </li>

                     </ol>
                </p>
                <p class="caption-blog">
                    <b class="caption-awal-blog">Genetik vs Herediter (Keturunan)</b>
                    <br>
                    Kanker adalah penyakit genetik dan tidak bisa dikacaukan dengan pernyataan kanker adalah 
                    penyakit herediter (keturunan). Arti dari pernyataan tersebut adalah kanker merupakan hasil
                     dari gangguan fungsi normal dari gen yang ada dalam tubuh. Penyakit herediter terjadi apabila
                      orang tua menurunkan gen defek/abnormal kepada anaknya. Kanker adalah penyakit genetik, tapi 
                      tidak semua kanker herediter/diturunkan. Salah satu contohnya adalah pada kasus
                       retinoblastoma/tumor mata pada anak.4 Contoh lain dari kanker yang bersifat bisa diturunkan,
                    antara lain:
                    <ol class="caption-blog" type="1">
                        <li>Kanker payudara </li>
                        <li>Kanker ovarium</li>
                        <li>Kanker usus besar dan polip kolon adenomatosa multipel, 
                            terutama yang terjadi pada usia di bawah 50 tahun </li>
                        <li>Kanker prostat</li>
                        <li>Kanker dinding rahim</li>
                    </ol>
               <p class="caption-blog">
                   Namun kasus ini adalah salah satu pengecualian dan hanya terjadi pada 5-10% dari semua kasus 
                    kanker. Ciri sindrom kanker yang diturunkan secara herediter, antara lain:
                    <ol type="1" class="caption-blog">
                        <li>Terjadi pada usia muda (early onset)</li>
                        <li>Lebih dari satu anggota keluarga pada sisi yang sama menderita kanker</li>
                        <li>Terdapat anggota keluarga yang menderita lebih dari 1 jenis kanker</li>
                        <li>Mengenai lintas generasi</li>
                    </ol>
                </p>
                    
                </p>

                <p class="caption-blog">
                        Pada kanker yang bersifat herediter, seseorang dapat melakukan tes genetik untuk 
                        mengetahui apakah seseorang dalam keluarga dapat menunjukkan tanda dari sindrom kanker
                         dan apakah ada anggota keluarga yang tidak menunjukkan gejala juga diturunkan gen mutasi
                          yang sama dengan anggota keluarga yang membawa mutasi terkait kanker. Pemeriksaan
                           genetik dianjurkan pada individu dengan riwayat keluarga dan/atau pribadi yang sugestif
                            rentan terhadap kanker. Biasanya tes ini dianggap paling informatif jika dimulai pada
                             seseorang yang didiagnosa kanker pada usia muda. Tes genetik membantu deteksi resiko
                              kanker secara dini sehingga anda dapat melakukan skrining rutin yang terarah. 
                               Skrining dapat mendeteksi kanker lebih awal sehingga penatalaksanaan penyakit juga
                                dapat dilakukan secara tepat dan cepat.
                </p>
                <p class="caption-blog">
                        Referensi
                        <ol type="1" class="caption-blog-referensi">
                            <li>Willgar H. What is a gene? [Internet]. Yourgenome.org. 2018. 
                                Available from: https://www.yourgenome.org/facts/what-is-a-gene</li>
                            <li>Reference G. What is a gene? [Internet]. Genetics Home Reference. 2018. 
                                Available from: https://ghr.nlm.nih.gov/primer/basics/gene</li>
                            <li>The Genetics of Cancer [Internet]. National Cancer Institute. 2017. 
                                Available from: https://www.cancer.gov/about-cancer/causes-prevention/genetics</li>
                            <li>Hunt J. Genetics of Cancer [Internet]. Medschool.lsuhsc.edu. 2018. <br>
                                </li>
                            <li>Martincorena I, Campbell P. Somatic mutation in cancer and normal cells. Science.
                                 2015;349(6255):1483-1489.</li>
                            <li>Aiello-Laws L. Genetic Cancer Risk Assessment. Seminars in Oncology Nursing. 2011;27(1):13-20.</li>
                        </ol>
                </p>
            </div>
            <div class="col-md-4">
                <div class="blog-right">

                </div>
            </div>
            
        </div>
    </div>
</section>

<section>
    
    <div class="col-md-6">
        <div class="bg-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.202932826536!2d106.8231404!3d-6.2240204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b36fd8bd2a9e428!2sPT.+Global+Genetika+Indonesia+(Genetics+Indonesia)!5e0!3m2!1sid!2sid!4v1544605888681" 
             frameborder="0" style="border:0" class="bg-map-atur" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <div class="bg-alamat">
            <a><img ng-src="assets/images/{{cancervueBottom}}" class="alamat-image"></a>
            <h1 class="alamat-heading">PT Global Genetika Indonesia</h1>
            <p class="alamat-text">DBS Bank Tower Lt 11 <br>
                Jl Prof Dr Satrio Kav 3-5 <br>
                Jakarta Selatan 12940 <br>
                (021) 2988 8650 <br>
                WA 0812 8199 9388<br>
                Email <a href="" style="color: white">info@cancervue.co.id</a>
              </p>
                <p>
                  <a class="pic" href="{{fb}}">
                      <img class="image-1 fb" ng-src="assets/images/{{fbWhite}}"/>
                      <img class="image-2 fb" ng-src="assets/images/{{fbColor}}"  />
                  </a>
                  <a class="pic" href="{{ig}}">
                      <img class="image-1 ig" ng-src="assets/images/{{igWhite}}"/>
                      <img class="image-2 ig" ng-src="assets/images/{{igColor}}"  />
                  </a>
               </p>
        </div>
    </div>

</section>



    



    




