
<head>
    <title >Layanan BRCA | Cancervue</title>
    <meta name="theme-color" content="#ef6291">
</head>

<!-- Barisan 1 -->
<section class="brca-1">
   <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-3">

            </div>
            <div class="col-md-6 col-sm-12 col-xs-9">
                <img class="img-responsive brca-logo-1" src="assets/images/brca/logo-BRCA.png">
                <p class="brca-1-caption">
                    Ketahui risiko kanker payudara dan ovarium sejak dini dan ambil tindakan 
                    pencegahan yang tepat
                </p>
            </div>
        </div>
   </div>
</section>

<!-- Barisan 2 -->
<hr class="onepixcel-brca">
<section class="brca-2">
    <div class="container">
        <!-- <div class="row">

                <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-0 col-xs-6 col-xs-offset-0">
                        <button class="brca-2-button-left btn btn-lg tablink left-brca-button"  >
                                APA ITU BRCA ?
                        </button>
                </div>
                <div class="col-md-6 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-1">
                        <button class=" brca-2-button-left btn btn-lg tablink"   >
                                HASIL BRCA SCREENING
                        </button>
                </div>
        </div> -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="brca-2-button-left tablink left-brca-button" onclick="openPage('brca-2-left', this, '#ef6291')" id="defaultOpen">
                        APA ITU BRCA ?
                </button>   
                
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="brca-2-button-left tablink" onclick="openPage('brca-2-right', this, '#ef6291')">
                        HASIL BRCA SCREENING
                </button>
                    
            </div>
        </div>
    </div>
</section> 


<div id="brca-2-left" class="tabcontent">
  <div class="brca-2-left-bg">
        
  </div>
  
  <div class="container brca-2-lef-bg-mobile">
      <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1 class="brca-2-left-header">Apa yang dimaksud dengan BRCA ?</h1>
                    <p class="brca-2-left-caption">
                        Semua orang memiliki gen BRCA1 dan BRCA2 di dalam tubuhnya yang diturunkan dari kedua orang tua. Mutasi pada
                        gen BRCA1 atau 2 berhubungan erat dengan meningkatnya risiko seseorang terkena kanker payudara dan ovarium.
                    </p>
                    <p class="brca-2-left-caption">
                        BRCA 1 & 2 adalah gen yang memproduksi tumor suppresor protein, yang bertugas untuk memperbaiki DNA yang rusak
                        dan mengontrol pertumbuhan sel-sel di dalam tubuh. Ketika terjadi mutasi pada gen BRCA1 atau BRCA2 tersebut,
                        pertumbuhan sel-sel menjadi tidak terkontrol, yang kemudian dapat berkembang menjadi sel-sel kanker.
                    </p>
            </div>
            <div class="col-md-6  col-sm-6 col-xs-12 brca-2-tabel">
                    <img class="img-responsive" src="assets/images/brca/Tabel-BRCA-kanan.png">
            </div>
      </div>
  </div>

  <div class="brca-3-left-bg">
      <div class="container">
        <div class="row">
             <div class="col-md-6 col-sm-6 col-xs-12">
                <p class="brca-3-caption-left">
                    Mutasi membahayakan pada gen <b class="brca-b">BRCA1</b> atau <b class="brca-b">BRCA2</b> meningkatkan risiko seseorang terkena kanker payudara
                    hingga <b class="brca-b-gede">80%</b> dan kanker ovarium hingga <b class="brca-b-gede">23%</b>
                </p>
             </div>
             <div class="col-md-6 col-sm-6 col-xs-12">

             </div>
        </div>
      </div>

  </div>

  <div class="brca-4-left-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-12 ">

            </div>
            <div class="col-md-7 col-sm-8 col-xs-12 brca-4-left-position-text">
                <h1 class="brca-4-left-header">Siapa saja yang membutuhkan pemeriksaan BRCA Screening ?</h1>
                <p class="brca-4-left-caption">
                    BRCA Screening dianjurkan bagi wanita yang berisiko tinggi terkena kanker payudara dan ovarium :
                    <ul class="brca-4-left-caption">
                        <li>Memiliki anggota keluarga yang didiagnosis kanker payudara, dikarenakan variasi gen BRCA1 atau BRCA2.</li>
                        <li>Memiliki anggota keluarga yang didiagnosis memiliki kanker payudara atau ovarium di usia &#x2266; 60 tahun. </li>
                        <li>Memiliki anggota keluarga dengan riwayat dua atau lebih jenis kanker yang berkaitan dengan gen BRCA1 atau 
                            BRCA2 seperti kanker payudara, ovarium, prostat dan pankreas.
                        </li>
                        <li>Memiliki anggota keluarga laki-laki yang terkena kanker payudara.</li>
                    </ul> 
                </p>
            </div>
        </div>
    </div>
  </div>

  <!-- Barisan 5 -->

  <section>
        <div class="brca-5-header">
            <h1 class="brca-5-header">Bagaimana cara melakukan pemeriksaan BRCA screening</h1>
        </div>
        <div class="brca-5-left-bg">
           <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="brca-5-caption-one">
                                Pemeriksaan genetik melalui BRCA Screening dapat dilakukan untuk mengetahui apakah Anda
                                memiliki mutasi pada gen BRCA1 dan BRCA2.
                            </p>
                            <p class="brca-5-caption-two">
                                Pemeriksaan ini dapat dilakukan dengan mudah dan cepat, hanya dengan menggunakan sample
                                DNA yang diperoleh dari olesan bagian dalam pipi Anda.
                            </p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                    </div>
                </div>
           </div> 
            
        </div>
  </section>

  <!-- Barisan 6 -->
  <section>
      <div class="brca-6-logo">
            <img class="img-responsive" src="assets/images/brca/logo-BRCA.png">
      </div>
      <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="brca-6-caption">
                        BRCA Screening berguna untuk memeriksa risiko Anda terhadap kanker payudara
                        dan ovarium, namun tidak dapat memberikan informasi apakah pasien memiliki
                        sel-sel kanker atau tidak.
                    </p>
                </div>
                <div class="col-md-12" >
                        <hr class="onepixcel-brca-6">
                </div>
            </div>
      </div>
  </section>
      
  
  
</div>

<!-- BRCA right -->
<div id="brca-2-right" class="tabcontent" ng-include='"views/page-brca-screening.html"'>

</div>

<br><br><br>
<!-- Alamat -->
<section>    
        <div class="col-md-6">
            <div class="bg-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.202932826536!2d106.8231404!3d-6.2240204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b36fd8bd2a9e428!2sPT.+Global+Genetika+Indonesia+(Genetics+Indonesia)!5e0!3m2!1sid!2sid!4v1544605888681" 
                frameborder="0" style="border:0" class="bg-map-atur" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-alamat">
                <a><img ng-src="assets/images/{{cancervueBottom}}" class="alamat-image"></a>
                <h1 class="alamat-heading">PT Global Genetika Indonesia</h1>
                <p class="alamat-text">DBS Bank Tower Lt 11 <br>
                    Jl Prof Dr Satrio Kav 3-5 <br>
                    Jakarta Selatan 12940 <br>
                    (021) 2988 8650 <br>
                    WA 0812 8199 9388<br>
                    Email <a href="" style="color: white">info@cancervue.co.id</a>
                </p>
                    <p>
                    <a class="pic" href="{{fb}}">
                        <img class="image-1 fb" ng-src="assets/images/{{fbWhite}}"/>
                        <img class="image-2 fb" ng-src="assets/images/{{fbColor}}"  />
                    </a>
                    <a class="pic" href="{{ig}}">
                        <img class="image-1 ig" ng-src="assets/images/{{igWhite}}"/>
                        <img class="image-2 ig" ng-src="assets/images/{{igColor}}"  />
                    </a>
                </p>
            </div>
        </div>

</section>






<script>
    function openPage(pageName, elmnt, color){
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++){
            tabcontent[i].style.display = "none";
        }
        tablinks =document.getElementsByClassName("tablink");
        for (i= 0 ; i < tablinks.length; i++){
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    document.getElementById("defaultOpen").click();
</script>