

    <!-- Barisan 2 -->
    <section class="brca-2-position">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <h1 class="brca-2-right-header">Hal-hal apakah yang dapat dilakukan jika hasil pemeriksaan positif?</h1>
                </div>
                <div class="col-md-12">
                    <p class="brca-2-right-caption">
                        Faktor genetik hanya merupakan satu dari banyak faktor yang dapat memepengaruhi risiko kanker payudara
                        dan ovarium. Banyak hal yang dapat dilakukan sebagai upa pencegahan dan deteksi dini.
                    </p> 
                </div>
            </div>
        </div>
    </section>

    <!-- Barisan 3 -->
    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-3 brca-3-right-icon">
                    <img class="img-responsive" src="assets/images/brca/right/ICON/No-1.png">
                </div>

                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="col-md-12">
                            <h1 class="brca-3-right-header">
                                    1. Perubahan Gaya Hidup
                            </h1>
                    </div>
                    <div class="col-md-12">
                        <p class="brca-3-right-caption">
                            Sebuah Penelitian terbaru di Amerika mengungkapkan bahwa wanita yang mengalami obesitas lebih
                            berisiko terkena kanker payudara. Oleh karena itu, perubahan gaya hidup seperti lebih rutin 
                            berolahraga, pola akan sehat, dan dietuntuk menurunkan berat badan bagi mereka yang obesitas
                            dapat membantu untuk mengurangi risiko untuk terkena kanker.
                            <br>
                            Selain itu, batasi konsumsi minuman beralkohol, istirahat yang cukup hindar stress dan juga rokok.
                        </p>
                    </div>             
                </div>
                
            </div>

            <!-- Barisan 4 -->
            <div class="row">

                    <div class="col-md-3 col-sm-3 col-xs-3 brca-3-right-icon-2">
                        <img class="img-responsive" src="assets/images/brca/right/ICON/No-2.png">
                    </div>
    
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="col-md-12">
                                <h1 class="brca-3-right-header">
                                        2. Hindari zat-zat karsinogen
                                </h1>
                        </div>
                        <div class="col-md-12">
                            <p class="brca-3-right-caption">
                               Zat karsinogen adalah bahan-bahan yang dapat memicu terjadinya kanker.
                               contoh dari zat karsinogen adalah bahan-bahan dalam rokok, pewarna makanan, makanan yang dimasak
                               dengan cara dibakar atau dipanggang, produk daging olahan (ham, sosis, dan daging asap), radiasi 
                               matahari, radiasi dari peralatan medis dan lainnya.
                            </p>
                        </div>             
                    </div>
                    
            </div>

            <!-- Barisan 5 -->
            <div class="row">

                    <div class="col-md-3 col-sm-3 col-xs-3 brca-3-right-icon-3">
                        <img class="img-responsive" src="assets/images/brca/right/ICON/No-3.png">
                    </div>
    
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="col-md-12">
                                <h1 class="brca-3-right-header">
                                        3. Melakukan pemeriksaan payudara secara rutin
                                </h1>
                        </div>
                        <div class="col-md-12">
                            <p class="brca-3-right-caption">
                                <ul class="brca-3-right-caption">
                                    <li>Melakukan payudara sendiri (SADARI)</li>
                                    <li>Pemeriksaan payudara linis (mamografi, USG payudara, MRI dan PET Scan)</li>
                                </ul>
                                <p class="brca-3-right-caption">
                                        <b>
                                            Di Indonesia, lebih dari 80% kanker ditemukan pada stadium yang lebih lanjut, dimana upaya 
                                                pengobatan lebih sulit untuk dilakukan.
                                        </b>
                                </p>
                            </p>
                        </div>             
                    </div>
                    
            </div>

            <!-- Barisan 6 -->

            <div class="row">

                    <div class="col-md-3 col-sm-3 col-xs-3 brca-3-right-icon-4">
                        <img class="img-responsive" src="assets/images/brca/right/ICON/No-4.png">
                    </div>
    
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="col-md-12">
                                <h1 class="brca-3-right-header">
                                        4. Pemeriksaan penanda kanker (tumor marker) CA-125
                                </h1>
                        </div>
                        <div class="col-md-12">
                            <p class="brca-3-right-caption">
                                Ca-125 merupakan protein penanda tumor yang dapat meningkat jumlahnya pada kasus
                                kanker ovarium. Meskipun demikian, menstruasi, kehamilan, endometriosis, mioma uteri,
                                radang pankreas, penyakit radang panggul, dan gangguan hati kronis juga dapat meningkatkan
                                kadar CA-125.
                            </p>
                        </div>             
                    </div>
                    
            </div>


            <!-- Barisan 7 -->
            <div class="row">

                    <div class="col-md-3  col-sm-3 col-xs-3 brca-3-right-icon-2">
                        <img class="img-responsive" src="assets/images/brca/right/ICON/No-5.png">
                    </div>
    
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="col-md-12">
                                <h1 class="brca-3-right-header">
                                        5. Persiapan Finansial
                                </h1>
                        </div>
                        <div class="col-md-12">
                            <p class="brca-3-right-caption">
                               Penanganan kanker payudara atau kanker ovarium akan membutuhkan biaya yang cukup besar, mulai dari biaya
                               komoterapi, pengangkatan jaringan, hingga biaya untuk memonitor kondisi tumor yang meerlukn waktu cukup lama.
                               Oleh karena itu, mengetahui risiko Anda untuk terkena kanker sejak dini dapat membantu Anda untuk mempersiapkan
                               finansial Anda, baik dari tabungan atau produk asuransi yang sesuai.
                            </p>
                        </div>             
                    </div>
                    
            </div>

            <!-- Barisan 8 -->
            <div class="row">
                    <div class="col-md-12">
                            <h1 class="brca-3-right-header barisan-6" >
                                    6. Konsultasikan dengan dokter untuk tindakan-tindakan pencegahan lainnya.
                            </h1>
                    </div>
            </div>

        </div>
        
        <!-- Barisan 9 -->
        <div class="brca-9-right-bg">

        </div>
    </section>
