
<style>
    @media (min-width: 320px) and (max-width: 480px) {
        #page-tentang-hasil{
            margin-top: 100px;
        }
    }
    
</style>

<head>
    <title >Layanan HCS | Cancervue</title>
    <meta name="theme-color" content="#4b8c21">
</head>

<section class="bg-img hcs detail-copy">
        <div class="container word-header-hcs">
          <div class="row">
              <div class="col-md-6 col-sm-12">

              </div>
            <div class="col-md-6 col-sm-12 hcs-logo ">
                <img class="img-responsive" ng-src="assets/images/hcs/{{logoHcs}}"/>
                <p>Deteksi risiko kanker sejak dini melalui pemeriksaan genetik</p>
            </div>
          </div>
        </div>
</section>
    <br><br><br>
<div ng-include='"views/page-hasil.html"' id="page-tentang-hasil"></div>

<section>
        <div class="col-md-6">
            <div class="bg-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.202932826536!2d106.8231404!3d-6.2240204!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b36fd8bd2a9e428!2sPT.+Global+Genetika+Indonesia+(Genetics+Indonesia)!5e0!3m2!1sid!2sid!4v1544605888681" 
                 frameborder="0" style="border:0" class="bg-map-atur" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-alamat">
                <a><img ng-src="assets/images/{{cancervueBottom}}" class="alamat-image"></a>
                <h1 class="alamat-heading">PT Global Genetika Indonesia</h1>
                <p class="alamat-text">DBS Bank Tower Lt 11 <br>
                    Jl Prof Dr Satrio Kav 3-5 <br>
                    Jakarta Selatan 12940 <br>
                    (021) 2988 8650 <br>
                    WA 0812 8199 9388<br>
                    Email <a href="" style="color: white">info@cancervue.co.id</a>
                  </p>
                    <p>
                      <a class="pic" ng-href="{{fb}}">
                          <img class="image-1 fb" ng-src="assets/images/{{fbWhite}}"/>
                          <img class="image-2 fb" ng-src="assets/images/{{fbColor}}"  />
                      </a>
                      <a class="pic" ng-href="{{ig}}">
                          <img class="image-1 ig" ng-src="assets/images/{{igWhite}}"/>
                          <img class="image-2 ig" ng-src="assets/images/{{igColor}}"  />
                      </a>
                   </p>
            </div>
        </div>
   
</section>