.menu {
  

  position: fixed;
  bottom: 25px;
  width: 7.2%;
  right: 2px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  /* background-color: #b3b3b3; */
  border-radius: 100%;
  color: white;
  cursor: pointer;
  padding:;


}

.wa{
  width: 80%;
 
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .menu {
    width: 8.2%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    width: 12.2%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .menu {
    width: 19.2%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .menu {
    width: 20.2%;
  }
} 

  


  a.menu .image-wa-2{display:none}
  a.menu:hover .image-wa-1 {display:none}
  a.menu:hover .image-wa-2 {display:inline}


  .scroll_To_Top {
    position: fixed;
    bottom: 105px;
    width: 4.5%;
    right: 25px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /* background-color: #b3b3b3; */
    border-radius: 100%;
    color: white;
    cursor: pointer;
    padding:;
  }
  
  a.scroll_To_Top .image-panah-2{display:none}
  a.scroll_To_Top:hover .image-panah-1 {display:none}
  a.scroll_To_Top:hover .image-panah-2 {display:inline}

  @media (min-width: 1025px) and (max-width: 1280px) {
  .scroll_To_Top {
    width: 5.2%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .scroll_To_Top {
    width: 7.2%;
     right: 35px;
     bottom: 115px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .scroll_To_Top {
    width: 12.2%;
    bottom: 120px;
    right: 30px;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .scroll_To_Top {
    width: 12.2%;
    bottom: 90px;
    right: 20px;
  }
} 
  

  /* 

@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 480px) {
} 

*/
