@font-face{
    font-family: "HelveticaOr";
    src: url('../bootstrap/fonts/helvetica/Helvetica.ttf');
  }
  
  @font-face{
    font-family: "HelveticaBold";
    src: url('../bootstrap/fonts/helvetica/Helvetica-Bold.ttf');
  }


a.pic .image2{display:none}
a.pic:hover .image1 {display:none}
a.pic:hover .image2 {display:inline}


@media (min-width: 768px) and (max-width: 1024px) {
    a.pic .image2{display:inline}
    a.pic .image1{display:none}
}
@media (min-width: 481px) and (max-width: 767px) {
    a.pic .image2{display:inline}
    a.pic .image1{display:none}
   
}

@media (min-width: 320px) and (max-width: 480px) {
    a.pic .image2{display:inline}
    a.pic .image1{display:none}
} 





@media (min-width: 768px) and (max-width: 1024px) {
    #gede{
        width: 219px;
        margin-top:0px;
        margin-bottom:10px;
       
    }
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 480px) {
    .gede{
        width: 179px;
        margin-top:10px;
        margin-bottom:12px;
       
    }
} 




@media (min-width: 768px) and (max-width: 1024px) {
    #kecilin{
        width: 80%;
        margin-top:0px;
        margin-bottom:10px;
        margin-left: 50px;
        
       
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #kecilin{
        
        width: 80%;
        margin-top:0px;
        margin-bottom:10px;
        margin-left: 50px;
       
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #kecilin{
        width: 95%;
        margin-top:0px;
        margin-bottom:10px;
        margin-left: 5px;
       
    }
} 






.brca {
    width: 259px;
    margin-left: 100px;
    margin-top:15px;
    margin-bottom:21px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .brca {
        width: 199px;
        margin-top:0px;
        margin-bottom:10px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #brca{
        width: 219px;
        margin-top:0px;
        margin-bottom:10px;
       
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .brca{
        width: 179px;
        margin-top:10px;
        margin-bottom:12px;
       
    }
} 

#brca-image{
    width: 259px;
    margin-top:15px;
    margin-bottom:21px;
    margin-left:46px;
}

@media (min-width: 1199px) and (max-width: 1280px) {
#brca-image{
        width: 245px;
        margin-top:25px;
        margin-bottom:10px;
        margin-left:23px;
    }
}
@media (min-width: 1025px) and (max-width: 1199px) {
    #brca-image{
            width: 245px;
            margin-top:5px;
            margin-bottom:10px;
            margin-left:23px;
        }
    }
@media (min-width: 768px) and (max-width: 1024px) {
    #brca-image{
        width: 60%;
        margin-top:10px;
        margin-bottom:12px;
        margin-left:82px;
       
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #brca-image{
        width: 60%;
        margin-top:10px;
        margin-bottom:12px;
        margin-left:79px;
     
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    #brca-image{
        width: 80%;
        margin-top:10px;
        margin-bottom:12px;
        margin-left: 20px;
        
    }
} 



@font-face {
    font-family: "GothamRounded-Book";
    src: url('../bootstrap/fonts/GothamRounded-Book.otf');
    }

.caption-judul {
  font-family: "HelveticaOr";
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: justify;
  color: #6d6d6d;
  margin-top: -5px;
  z-index: 1;
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.9s, opacity: 0.9s;
          transition: color 0.3s, background-color 0.3s, padding 0.9s ;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    .caption-judul {
        font-size: 14.8px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .caption-judul {
            
            }
        }
    }
    @media (min-width: 481px) and (max-width: 767px) {
       .caption-judul {
           
       }
    }
    @media (min-width: 320px) and (max-width: 480px) {
        .caption-judul {
            font-size: 14.9px;
           
            }
        .layanan{
            margin-left: 10px;
        }
    } 

  .the-grid .row .thumbnail{
    border: 0px;
    box-shadow: none;
    border-radius:0px;
    margin-top: 45px;
    }




/* buat button */
.layanan{
    background-color: #fdc529;
    color: white !important;
    border : 3px solid #fdc529;
    padding: 5px 20px;
    font-family: "HelveticaOr";
    font-size: 16px;
    border-radius: 100px;


    /* animasi  */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.layanan:hover {
    border : 3px solid #fdc529;
    background-color: #fdc529;
    box-shadow: 0px 15px 20px rgba(9, 10, 10, 0.4);
    transform: translateY(-10px);
    color: #6d6d6d !important;
}